/*font-family: 'Lilita One', cursive;
font-family: 'Montserrat', sans-serif;
font-family: 'Nunito', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Ubuntu', sans-serif;
font-family: 'Yeon Sung', cursive;
font-family: 'Yeseva One', cursive; 
*/
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /*font-family: 'Ubuntu', sans-serif;*/
  font-family: 'Nunito', sans-serif;
}
.container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 100vh;
/* background-color: #101820;*/
/* background-color: #011627;*/
 background-color: #051923;
 /*background-color: gray;*/
 /*background-image: url('images/backgroundImage.jpg');*/
 background-size: cover;
 background-repeat: no-repeat;
}
.gameSets{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
}
.scoreLine{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.heading{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.score{
  border: 5px solid yellow;
  border-radius: 50px;
  width: 80%;
  padding: 10px;
}
#rules{
  padding: 10px;
  border: 1px solid yellow;
  border-radius: 5px;
}
.heading p{
  margin: 3px;
  font-size: 16px;
  text-align: justify;
}
.myHeading{
  font-size: 32px;
  font-weight: 700;
  color: #FEE715;
}
p{
  font-size: 18px;
  color: white;
  text-align: justify;
}
h1{
margin-bottom: 10px;
  color: white;
  font-size: 28px;
}
.my-buttons{
  display: flex;
  width: 60%;
  justify-content: space-evenly ;
  align-items: center;
}
.score{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
}
#reset{
 width: 15%;
}
Button{
  width: 30%;
  font-size: 18px;
  background-color: #FEE715;
  font-weight: 700;
  padding: 15px;
  border: none;
  border-radius: 5px;
  margin: 10px 0;
  font-size: 22px;
  color: #101820;
}
#

#computerStats, #myStats {
  font-size: 48px;
}
.statistics{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.myClicks{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
 /* background-color: #FEE715;
  width: 50%;
  height: auto;*/
}

#whoWon{
  color: #FEE715;
  padding: 5px;
  font-size: 20px;
  margin-bottom: 30px;
  }
  
@media(max-width: 768px){

.container{
  height: 100vh;
}

.heading{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.heading p{
  margin: 3px;
  font-size: 16px;
  text-align: justify;
}
.myHeading{
  font-size: 32px;
  font-weight: 700;
  color: #FEE715;
}
.gameSets{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
}
.scoreLine{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
p{
  font-size: 18px;
  color: white;
}
h1{
margin-bottom: 10px;
  color: white;
  font-size: 28px;
}
#rules{
  padding: 10px;
  border: 1px solid yellow;
  border-radius: 5px;
}
.my-buttons{
  display: flex;
  width: 100%;
  justify-content: space-evenly ;
  align-items: center;
}
.score{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
}

Button{
  width: 30%;
  font-size: 18px;
  background-color: #FEE715;
  font-weight: 700;
  padding: 15px;
  border: none;
  border-radius: 5px;
  margin: 10px 0;
  font-size: 22px;
  color: #101820;
}
#reset{
  width: 30%;
  margin-bottom: 120px;
}

#myOverallScore, #computerOverallScore {
  font-size: 32px;
}
.statistics{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.myClicks{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
 /* background-color: #FEE715;
  width: 50%;
  height: auto;*/
}

#whoWon{
  color: #FEE715;
  padding: 5px;
  font-size: 20px;
  /*margin-bottom: 30px;*/
  }
}
